body {
    margin: 0;
    background-color: #f8f8f8;
    color: #212427;
}

h1 {
    width: fit-content;
    margin: auto;
}

.caixa {
    border-radius: 5px;
}

.pai {
    width: 80%;
    height: 350px;
    margin: auto;
    background-color: antiquewhite;
    border: solid 2px #212427;

    /* Permitir posicionamento absoluto dos filhos */
    position: relative;
}

.filho {
    width: 80px;
    height: 80px;
    border-radius: 50px;
    text-align: center;
    line-height: 80px;
    font-weight: bold;
    color:black;

    /* Para posicionar individualmente */
    position: absolute;
}

/* Bolinha 1 - topo à esquerda */
.cor1 {
    background-color: #ED145B;
    top: 0;
    left: 0;
}

/* Bolinha 2 - centro exato */
.cor2 {
    background-color:#EFB661 ;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* Bolinha 3 - canto inferior direito */
.cor3 {
    background-color: #63B1BC;
    bottom: 0;
    right: 0;
}

.instrucoes {
    width: 80%;
    margin: auto;
    text-align: left;
}

.footer {
    background-color: antiquewhite;
    height: 130px;
    margin-top: 50px;
    padding-top: 20px;
    text-align: center;
}

img {
    width: 20%;
}
